.contents {
	display: flex;
	justify-content: center;
  align-items: center;
  width: 94vw;
  height: auto;
  /*border: 1px solid green;*/
}
.img_grid {
  display: grid;
  width: 94vw;
  padding: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1rem;
	border: 1px solid green;
  grid-template-areas:
  'a a a a a a'
  'b b c c d d'
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image1 {
  grid-area: a;
}
.image2 {
  grid-area: b;
}
.image3 {
  grid-area: c;
}
.image4 {
  grid-area: d;
}
.item12 {
  grid-column-start: 1;
  grid-column-end: 3;
  /*--위를 합쳐서 표현하는게 grid-column: 1/3;--*/
  /*--위를 합쳐서 표현하는게 grid-column: 1/ span 2; <--span은 2개의 셀을 차지할 거라는 뜻--*/
}
@media (min-width: 1024px) {
	/*--pc css--*/
}
@media (min-width: 768px) and (max-width: 1024px) {
	/*--tablet css--*/
	.contents {
		width: 90vw;
	}
}
@media (max-width: 767px) {
	/*-mobile css-*/
	.contents {
		width: 90vw;
	}
	.img_grid {
  display: grid;
  width: 90vw;
  padding: 5px;
  grid-template-columns: repeat(2, 5fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1rem;
  grid-template-areas:
  'a a'
  'b b'
	  'c d'
	}
	.image {
  width: 100%;
	height: 100%;
  object-fit: cover;
	}
}