body {
  margin: 0;
  background: #000000;
  font-family: "Junction";
  font-size: 15px;
}
.container {
  height: auto; /*viewport height*/
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid green;*/
}
.navigator {
	display: flex;
	flex-direction: column;
  position: fixed;
  justify-content: center;
  width: 100vw;
  padding: 5px;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 3.1vw;
	padding-right: 3.1vw;
	color: #ffffff;
  background-color: rgba(0, 0, 0, 90%);
	z-index: 25;
	/*--border: 1px solid purple;--*/
}
.fixbottom {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 20%;
	max-width: 20%;
	height: 3vh;
	bottom: 0px;
	left: 78vw;
	align-items: flex-end;
	justify-content: flex-end;
	padding-bottom: 1.5vh;
	padding-right: 1.5vw;
    height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: rgba(0, 0, 0, 0%);
	z-index: 22;
	/*border: 1px solid green;*/
}
.fixbottom .textflow {
	position: absolute;
	white-space: nowrap;
	will-change:transform;
	animation: marquee 15s linear infinite;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #000000;
	color: #ff351a;
	/*--border: 1px solid red;--*/
}
@keyframes marquee {
	from {transform: translateX(100%);}
	to {transform: translateX(-55%);}
}
@media (hover: hover) and (min-width: 700px) {
	.wall-content-copyright . textflow {
		-webkit-transform: translateY(calc(100% - 8rem));
		transform: translateY(calc(100% - 8rem));
	}
}
pcopyright {
	font-size: 0.9em;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  /*--border: 1px solid blue;--*/
}
.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 22vw;
	/*--border: 1px solid white;--*/
}
.eachmenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
	font-size: 1rem;
}
.submenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
	padding-top: 1vh;
	font-size: 0.85rem;
	line-height: 1.25rem;
  padding-bottom: 1.5vh;
}
.buttonboundary {
	width: 22vw;
	/*border: 1px solid blue;*/
}
.buttons {
	display: block;
	flex-direction: column;
	justify-content:space-between;
	align-items:flex-start;
	/*margin-left: 1vw;*/
	/*border: 1px solid green;*/
}
.btn {
	padding: 0.2vh 0.8vw;
	background-color: rgba(0, 0, 0, 0%);
	color: #ffffff;
	border: 1px solid rgba(255, 255, 255, 0%);
	border-radius: 20px;
	font-weight: 100;
	transition: all 0.4s;
	/*--text-transform: uppercase;*/
}
.btn:focus {
	outline: none;
}
.btn:hover {
	margin-bottom: 0.1vh;
	margin-left: 0.1vw;
	color: #ffffff;
	border: 1px solid #ffffff;
	cursor: pointer;
}
h0 {
  font-size: 1rem;
}
.menu a:link {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}
.menu a:visited {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}
.menu a:hover {
	border: 0px;
	color: #ff351a;
	text-decoration: line-through;
}
.contents {
	display: flex;
	align-items: center;
}
.discription {
  font-size: 15px;
  margin-bottom: 4vh;
  margin-top: 20vh;
	color: #ffffff;
  /*border: 1px solid purple;*/
}
.info_grid {
  display: grid;
  width: 94vw;
  padding: 5px;
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1.8rem;
  grid-template-areas:
  't t t t t t n n e e e e e k k k k k'
}
.info {
	/*border: 1px solid green;*/
}
.info1_title {
  grid-area: t;
}
h1 {
  font-size: 2em;
  line-height: 1.3em;
  font-weight: normal;
}
.info2 {
	display: none;
  grid-area: n;
}
.info3_eng {
  grid-area: e;
}
.dash {
	display: none;
}
p0 {
  font-size: 0.85em;
  line-height: 1.4em;
  font-weight: 300;
}
p1 {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 300;
}
p2 {
	font-family: 'IBM Plex Sans KR';
  font-size: 0.96em;
  line-height: 1.38em;
  font-weight: 200;
}
.info4_kor {
  grid-area: k;
}
@media (min-width: 1024px) {
	/*--pc css--*/
}
@media (min-width: 767px) and (max-width: 1024px) {
	/*--tablet css--*/
	h0 {
		font-size: 1.5rem;
	}
	.btn {
		font-size: 1.5rem;
	}
	.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
		font-size: 1.5em;
		padding-right: 10px;
	/*--border: 1px solid white;--*/
	}
	.buttonboundary {
	width: 40vw;
	/*border: 1px solid blue;*/
}
	.discription {
		margin-top: 15vh;
		margin-bottom: 4vh;
	}
	.info_grid {
  display: grid;
  width: 94vw;
  padding: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1.8rem;
  grid-template-areas:
't t'
'e e'
'k k'
}
	.info2 {
		display: flex;
		flex-direction: row;
	}
	.info {
		align-items: center;
	}
	.dash {
	display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin-top: 1vh;
		margin-bottom: 0.25vh;
		font-size: 0.1em;
		/*border: 1px solid red;*/
	}
	.dash1{
		text-align: left;
		width: 40%;
	}
	.dash2 {
		width: 40%;
		transform: rotateY(180deg);
	}
}
@media (max-width: 767px) {
	/*-mobile css-*/
	}
}