@charset "UTF-8";
/* CSS Document */
input[id="popup"] {
	display: none;
}
input[id="popup"] + label {
	display: inline-block;
	border-radius: 25%;
	color: #ffffff;
}
input[id="popup"] + label:hover {
	cursor: pointer;
	color: #ff351a;
	text-decoration: line-through;
}
input[id="popup"] + label + div + div {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}
input[id="popup"]:checked + label + div + div {
	display: block;
	opacity: 1;
	visibility: visible;
}
input[id="popup"] + label + div + div > div {
	/*--오렌지 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 48.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95vw;
	height: 93vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	background: #ff0092;
	opacity: 95%;
	border-radius: 100px 100px 100px 100px;
	z-index: 30;
}
	input[id="popup"] + label + div > div -moz-::selection {color: #e600ff; background: #000000;}
	input[id="popup"] + label + div > div ::selection {color: #e600ff; background: #000000;}

input[id="popup"] + label + div + div > div:hover {
	cursor: help;
}
input[id="popup"] + label + div + div > div > label {
	/*--close--*/
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translate(25%, -10%);
	padding: 20px;
	background: rgba(0, 0, 0, 0%);
	border-radius: 100%;
	z-index: 15;
}
input[id="popup"] + label + div + div > div > label > div {
	background: rgba(0, 0, 0, 90%);
	color: #ffffff;
	transform: rotateZ(45deg);
	/*border: 1px solid green;*/
}
input[id="popup"] + label + div + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0);
	z-index: 15;
}
.line {
	/*border: 1px solid black;*/
}
.abouttext {
	position: absolute;
	top: 46%;
	left: 58%;
	/*--border: 1px solid green;--*/
}
.project {
	position: absolute;
	top: 68%;
	left: 72%;
	/*--border: 1px solid green;--*/
}
.project a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
.project a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
.project a:hover {
  color: #ff351a;
  background-color: transparent;
	transform: translateY(0.3vh);
	transition-duration: 0.2s;
  opacity: 100%;
}
.close {
}
.close span {
	position: absolute;
	font-size: 0.8rem;
	transform-origin: 0px 100px;
}
.close:hover {
	cursor: pointer; 
	color: #ff351a;
	font-weight: 500;
}
.about_grid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(9, 2fr);
	grid-row-gap: 0vw;
	grid-column-gap: 5vw 5vw 5vw 5vw 5vw 5vw 3vw 3vw;
  	flex-direction: row;
 	 justify-content: center;
 	 align-items: flex-start;
	overflow: auto;
	  grid-template-areas:
 	 'a a a a a a z b b'
	'a a a a a a z b b'
}
.about_grid::-webkit-scrollbar {
	display: none;
}
.item {
	color: #000000;
	text-align: left;
}
.item a {
	text-decoration: none;
	color: #000000;
}
.item a:hover {
	text-decoration: none;
	background-color: #000000;
	border: 1.5px solid #000000;
	color: #ff351a;
	cursor: pointer;
}
.about1 {
	grid-area: a
}
.about2 {
	/*--예진최는 하는 설명부분--*/
	grid-area: b
}
.about3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	/*border: 1px solid blue;*/
	grid-area: z
}
.aboutline {
	display: flex;
	justify-content: space-between;
	width: 50%;
	height: 50%;
	/*border: 1px solid green;*/
}
.heart {
	padding-top: 2vh;
	padding-bottom: 1.5vh;
}
.lineA {
	height: 100%;
	border-right: 1px solid black;
}
.about4 {
	grid-area: d
}
.aboutline {
	/*border: 1px solid green;*/
}
p5 {
	
}
pbody {
	font-size: 0.8rem;
	font-weight: 100;
	line-height: 1rem;
}
.innerpassage {
	display: flex;
	flex-direction: column;
	/*border: 1px solid green;*/
}
.line {
	/*display: flex;*/
	padding-bottom: 2.5vh;
	display: none;
}
.line2 {
	/*display: flex;*/
	display: none;
	padding-top: 2.5vh;
}
@media (min-width: 1024px) {
	/*--pc css--*/
}
@media (min-width: 768px) and (max-width: 1024px) {
	/*--tablet css--*/
	}
@media (max-width: 767px) {
	/*-mobile css-*/
	input[id="popup"] + label + div + div > div {
	/*--오렌지 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	height: 80vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	opacity: 95%;
	border-radius: 100px 100px 100px 100px;
	z-index: 20;
}
	.about_grid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(1, 2fr);
	grid-gap: 5vw;
  	flex-direction: row;
 	 justify-content: center;
 	 align-items: center;
	  grid-template-areas:
 	 'b'
	'a'	
	}
	.about {
		display: flex;
		flex-direction: row;
	}
	.item {
		margin-left: 7vw;
		margin-right: 7vw;
	}
	.innerpassage {
	display: flex;
	flex-direction: column;
	margin-left: 3vw;
	/*border: 1px solid green;*/
}
	.line {
		display: flex;
		height: 5vh;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-bottom: 2vh;
		/*border: 1px solid blue;*/
	}
	.abouttext {
		top: 66%;
	left: 5%;
}
	.project {
	top: 77.5%;
	left: 18%;
	/*--border: 1px solid green;--*/
}
	.aboutline {
		height: 100%;
	}
	.heart {
		height: 100%;
	}
	.lineB {
		width: 100%;
		border-bottom: 1px solid black;
	}
		.about1 {
		margin-left: 7vw;
		margin-right: 7vw;
	}
	.about3 {
		display: none;
	}
}
