@charset "UTF-8";
/* CSS Document */
input[id="popup"] {
	display: none;
}
input[id="popup"] + label {
	display: inline-block;
	border-radius: 25%;
	color: #ffffff;
}
input[id="popup"] + label:hover {
	cursor: pointer;
	color: #ff351a;
	text-decoration: line-through;
}
input[id="popup"] + label + div + div {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}
input[id="popup"]:checked + label + div + div {
	display: block;
	opacity: 1;
	visibility: visible;
}
input[id="popup"] + label + div + div > div {
	/*--오렌지 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 48.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95vw;
	height: 93vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	background: #ff351a;
	opacity: 95%;
	border-radius: 100px 100px 100px 100px;
	z-index: 20;
}
	input[id="popup"] + label + div > div -moz-::selection {color: #e600ff; background: #000000;}
	input[id="popup"] + label + div > div ::selection {color: #e600ff; background: #000000;}

input[id="popup"] + label + div + div > div:hover {
	cursor: help;
}
input[id="popup"] + label + div + div > div > label {
	/*--close--*/
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translate(25%, -10%);
	padding: 20px;
	background: rgba(0, 0, 0, 0%);
	border-radius: 100%;
	z-index: 15;
}
input[id="popup"] + label + div + div > div > label > div {
	background: rgba(0, 0, 0, 90%);
	color: #ffffff;
	transform: rotateZ(45deg);
	/*border: 1px solid green;*/
}
input[id="popup"] + label + div + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, .7);
	z-index: 15;
}
@charset "UTF-8";
/* CSS Document */
input[id="popup"] {
	display: none;
}
input[id="popup"] + label {
	display: inline-block;
	border-radius: 25%;
	color: #ffffff;
}
input[id="popup"] + label:hover {
	cursor: pointer;
	color: #ff351a;
	text-decoration: line-through;
}
input[id="popup"] + label + div + div {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}
input[id="popup"]:checked + label + div + div {
	display: block;
	opacity: 1;
	visibility: visible;
}
input[id="popup"] + label + div + div > div {
	/*--오렌지 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 48.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95vw;
	height: 93vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	background: #ff351a;
	opacity: 95%;
	border-radius: 100px 100px 100px 100px;
	z-index: 20;
}
	input[id="popup"] + label + div > div -moz-::selection {color: #e600ff; background: #000000;}
	input[id="popup"] + label + div > div ::selection {color: #e600ff; background: #000000;}

input[id="popup"] + label + div + div > div:hover {
	cursor: help;
}
input[id="popup"] + label + div + div > div > label {
	/*--close--*/
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translate(25%, -10%);
	padding: 20px;
	background: rgba(0, 0, 0, 0%);
	border-radius: 100%;
	z-index: 15;
}
input[id="popup"] + label + div + div > div > label > div {
	background: rgba(0, 0, 0, 90%);
	color: #ffffff;
	transform: rotateZ(45deg);
	/*border: 1px solid green;*/
}
input[id="popup"] + label + div + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, .7);
	z-index: 15;
}
@charset "UTF-8";
/* CSS Document */
input[id="popup"] {
	display: none;
}
input[id="popup"] + label {
	display: inline-block;
	border-radius: 25%;
	color: #ffffff;
}
input[id="popup"] + label:hover {
	cursor: pointer;
	color: #ff351a;
	text-decoration: line-through;
}
input[id="popup"] + label + div + div {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}
input[id="popup"]:checked + label + div + div {
	display: block;
	opacity: 1;
	visibility: visible;
}
input[id="popup"] + label + div + div > div {
	/*--오렌지 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 48.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95vw;
	height: 93vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	background: #ff351a;
	opacity: 95%;
	border-radius: 100px 100px 100px 100px;
	z-index: 20;
}
	input[id="popup"] + label + div > div -moz-::selection {color: #e600ff; background: #000000;}
	input[id="popup"] + label + div > div ::selection {color: #e600ff; background: #000000;}

input[id="popup"] + label + div + div > div:hover {
	cursor: help;
}
input[id="popup"] + label + div + div > div > label {
	/*--close--*/
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translate(25%, -10%);
	padding: 20px;
	background: rgba(0, 0, 0, 0%);
	border-radius: 100%;
	z-index: 15;
}
input[id="popup"] + label + div + div > div > label > div {
	background: rgba(0, 0, 0, 90%);
	color: #ffffff;
	transform: rotateZ(45deg);
	/*border: 1px solid green;*/
}
input[id="popup"] + label + div + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, .7);
	z-index: 15;
}
