@charset "UTF-8";
/* CSS Document */

input[id="popup2"] {
	display: none;
}
input[id="popup2"] + label {
	display: inline-block;
	padding: 20px;
	padding-left: 3.6vw;
	padding-right: 7.2vw;
	border-radius: 25%;
}
input[id="popup2"] + label h0:hover {
	cursor: pointer;
	text-decoration: line-through;
	color: yellowgreen;
}
input[id="popup2"] + label + div {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
}
input[id="popup2"]:checked + label + div {
	display: block;
	opacity: 1;
	visibility: visible;
}
input[id="popup2"] + label + div > div {
	/*--블루 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 48.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	background: blue;
	opacity: 95%;
	border-radius: 800px 800px 0px 0px;
	z-index: 30;
}
	-moz-::selection {color: #e600ff; background: #000000;}
	::selection {color: #e600ff; background: #000000;}

input[id="popup2"] + label + div > div:hover {
	cursor: auto;
}
input[id="popup2"] + label + div > div > label {
	/*--close--*/
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translate(75%, 74vh);
	padding: 20px;
	background: rgba(0, 0, 0, 0%);
	border-radius: 100%;
	z-index: 25;
	/*border: 1px solid green;*/
}
input[id="popup2"] + label + div > div > label > div {
	background: rgba(0, 0, 0, 90%);
	color: #ffffff;
	transform: rotateZ(90deg);
	/*border: 1px solid green;*/
}
input[id="popup2"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, .7);
	z-index: 25;
}
.close:hover {
	cursor: pointer; 
	color: #ff351a;
	font-weight: 500;
}
.line {
	/*border: 1px solid black;*/
}
.indextext {
	/*--border: 1px solid green;--*/
}
.close {
}
.close span {
	position: absolute;
	font-size: 0.8rem;
	transform-origin: 0px 100px;
}
.close:hover {
	cursor: pointer; 
	background-color: blue;
	color: yellowgreen;
	font-weight: 500;
}
ptitle {
	font-size: 1.5rem;
}
.bluepopup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: auto;
}
.indexlist {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20vh;
	overflow: auto;
}
.indexhead {
	display: flex;
	padding-right: 5px;
	align-items: flex-start;
	transform: rotateZ(-90deg);
	color: white;
	/*border: 1px solid green;*/
}
.indexgrid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 0.2fr 5fr 5fr 1fr;
	/*border: 0.3px solid white;*/
	grid-row-gap: 0.4vw;
	grid-column-gap: 0.5vw;
	justify-content: flex-end;
}
.indexin {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 0.5px solid white;
	border-bottom: 0.5px solid white;
}
.indexblank {
	height: 10px;
}
.indextitle a {
	display: flex;
	align-items: flex-end;
}
.indextitle a :visited{
	color: beige;
}
.indextitle a:hover{
	background-color: yellowgreen;
	font-style: italic;
	text-decoration: none;
}
.indextitle a:hover pbody3 {
	color: blue;
}
.indexcategory {
	display: flex;
	justify-content: flex-end;
}
.indexyear {
	
}
pbody2 {
	color: beige;
	font-size: 0.8rem;
	font-weight: 100;
}
pbody3 {
	color: beige;
	font-size: 0.8rem;
	font-weight: 100;
}
@media (min-width: 1024px) {
	/*--pc css--*/
}
@media (min-width: 768px) and (max-width: 1024px) {
	/*--tablet css--*/
	}
@media (max-width: 767px) {
	/*-mobile css-*/
	input[id="popup2"] + label {
		padding-left: 3.5vw;
	padding-right: 7.5vw;
}
	input[id="popup2"] + label + div > div {
	/*--블루 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 48.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	padding-top: 35vh;
	padding-bottom: 8vh;
	background: blue;
	opacity: 95%;
	border-radius: 800px 800px 0px 0px;
	z-index: 30;
}
	.indexlist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
	overflow: auto;
	}
	.indexhead {
		padding-right: 0px;
		transform: rotateZ(0deg);
		padding-top: 3px;
		margin-bottom: 5vh;
	}
	.indexgrid {
	width: 100%;
	height: 100%;
		padding-left: 5%;
		padding-right: 5%;
	grid-row-gap: 1vw;
	grid-column-gap: 1vw;
		justify-content: center;
	}
}