.howtowork {
	display: flex;
	flex-direction: column;
	width: 94vw;
}
.mainvideo {
	position: relative;
	max-width: 70vw;
	padding-bottom: 56.25%;
	height: 0;
}
.iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.scene {
  display: grid;
  width: 94vw;
  grid-template-columns: 1fr 1fr;
	grid-column-gap: 0.5rem;
	grid-row-gap: 3rem;
	/*border: 1px solid yellow;*/
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
	border: 0.3px solid rgba(255, 255, 255, 0%);
}
.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-bottom: 1vh;
}
pgrid {
	color: lightgoldenrodyellow;
	background-color: rebeccapurple;
	font-size: 0.8rem;
	font-weight: 200;
	padding-top: 0.15rem;
	padding-bottom: 0.1rem;
}
.text01 {
	padding-top: 10vh;
}
.text02 {
	padding-top: 10vh;
}
@media (min-width: 1024px) {
	/*--pc css--*/
}
@media (min-width: 768px) and (max-width: 1024px) {
	/*--tablet css--*/
	
}
@media (max-width: 767px) {
	/*-mobile css-*/
	.howtowork {
		width: 100%;
	}
	.mainvideo {
		width: 100%;
	}
	.scene {
		width: 100%;
		grid-gap: 5px;
	}
}