.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  width: 94vw;
  height: auto;
  border: 1px solid green;
}
.scene {
	width: 100%;
	height: 100%;
}
.img_grid {
  display: grid;
  width: 94vw;
  padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10vh;
  grid-template-columns: 1fr 1fr;
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.5rem;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
	/*--pc css--*/
}
@media (min-width: 768px) and (max-width: 1024px) {
	/*--tablet css--*/
	
}
@media (max-width: 767px) {
	/*-mobile css-*/
	.contents {
		width: 100%;
		padding: 5px;
	}
	.scene {
		width: 100%;
	}
	.img_grid {
	width: 100%;
		padding: 0;
		padding-bottom: 5px;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}